<mat-card class="example-card card">
  <mat-card-header>
    <mat-card-title class="card-title">Играч първи, приготви се</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta repellendus rerum? Excepturi ipsam nostrum obcaecati optio tenetur? A animi illo ipsam totam? Aspernatur aut, deleniti eaque esse ex fugiat hic itaque iure magni minus nam optio quos repellat vel veniam. Alias corporis, deleniti dolores ex excepturi explicabo facilis id impedit inventore iste iusto mollitia obcaecati omnis quidem reprehenderit, totam ut voluptas voluptatum! Accusamus dolore dolores error facilis fuga illo itaque modi mollitia odio, quis recusandae repellat repudiandae sed soluta suscipit tempora, velit? Delectus, dolorum, eos! Assumenda inventore non repellendus? Asperiores eveniet facilis fuga, neque nostrum obcaecati placeat repellendus tempore.</p>
    <small> 12.06.2023</small>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" [routerLink]="['/audiobook', 21145]">Слушай тази аудиокнига</button>
  </mat-card-actions>
</mat-card>
