<div class="card">
  <div class="card-header">
    <h2>Post title</h2>

    <small>12.09.2023</small>
  </div>
  <img src="https://audiobookstore.com/images/product-images/paradise-lost-book-ix_bkmagp000030.jpg" alt="pic">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aut consequatur culpa nihil quis sequi ut. Eius, illum, laborum!</p>
  <div>
    <small>Aleksandar</small>
  </div>
  <button
    [routerLink]="['/audiobook', 12312]"
    class="btn btn-dark"
  >Още</button>
</div>
