<ng-form class="container form-card">
  <mat-card class="form">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
<!--      <form (ngSubmit)="login()">-->
      <form >
        <mat-form-field>
          <!--<input matInput placeholder="Username"  [(ngModel)]="username" name="username" required>-->
          <input matInput placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
<!--          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>-->
          <input matInput type="password" placeholder="Password" name="password" required>
        </mat-form-field>
        <button mat-raised-button color="warn" type="submit">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</ng-form>
