<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Влез в Admin panel</h2>
  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" />
    <div class="validation"></div>
    <small>грешка</small>
  </div>
  <div class="form-control">
    <label for="email">Password:</label>
    <input id="password" type="password" />
    <div class="validation"></div>
    <small>грешка</small>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
</form>

<app
