.posts {
  max-width: 600px;
  min-height: 200px;
  margin: 0 auto;
}
//
//.parent {
//  display: flex;
//  flex-wrap: wrap;
//  align-content: center;
//  height: 100%;
//}
//.child {
//  width: 30%;
//}
