@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

h1 {
  font-family: Bebas Neue, sans-serif;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  padding: 5px;
  letter-spacing: 5px;
  color: #1d5167;
  //box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.menu-link {
  margin: 0 10px;
}
